dataFactory/pipeline/pl_landing_to_bronze.json
{
	"name": "pl_landing_to_bronze",
	"properties": {
		"activities": [
			{
				"name": "Data Flow landing to bronze",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_landing_to_bronze",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Success notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Data Flow landing to bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "https://prod-202.westeurope.logic.azure.com:443/workflows/c17db4deb601418288a34efc0a674501/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=v7Zfqsnb5eqYYfZMDXczFBrjcugxvw-6CXZbhExhmL4",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"dataFlowName\": \"Data Flow landing to bronze\",\n    \"status\": \"@{activity('Data Flow landing to bronze').Status}\",\n    \"rowsProcessed\": \"@{activity('Data Flow landing to bronze').output.rowsRead}\",\n    \"runId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcNow()}\"\n}\n",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}